/* FOOTER */
.footer {
    margin-top: 7rem;
    text-align: center;
}

.footer .container {
    padding: 5rem 0;
}

.footer h2 {
    font-family: var(--fonte-titulo);
    font-size: var(--fonte-g);
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.redes-sociais a {
    display: inline-block;
    width: 60px;
    height: 60px;
    font-size: 1.8rem;
    text-align: center;
    align-content: center;
    color: var(--cor-primaria);
    background-color: var(--cor-branca);
    margin: 0 4px;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  
  .redes-sociais a i {
    font-size: 4rem;
    line-height: 40px;
  }
  
  .redes-sociais a:hover {
    color: var(--cor-branca);
    background-color: var(--cor-cta);
  }

  @media(max-width: 768px) {
    .footer h2 {
      padding: 0 40px;
    }
  }