/* FOOTER */
.footer {
    margin-top: 7rem;
    text-align: center;
    background-color: #00000050;
}

.footer .container {
    padding: 5rem 0;
}

.footer h2 {
    font-family: var(--fonte-titulo);
    font-size: var(--fonte-g);
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.footer .redes-sociais {
  text-align: center;
}

.footer .redes-sociais .icone-redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
  
.footer .redes-sociais .icone-redes li {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: var(--cor-branca);
  border-radius: 100px;
  padding: 12px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.footer .redes-sociais .icone-redes li a {
  text-align: center;
}

.footer .redes-sociais .icone-redes li a i {
  color: var(--cor-primaria);
  font-weight: 500;
  font-size: 2.4rem;
  transition: 0.3s;
}

.footer .redes-sociais .icone-redes li:hover, 
.footer .redes-sociais .icone-redes li a i:hover{
  color: var(--cor-branca);
  background-color: var(--cor-cta);
}

  @media(max-width: 768px) {
    .footer h2 {
      padding: 0 var(--mobile-padding);
    }
  }