/* HOME */
.home .full-screen {
    min-height: 86vh;
    padding: 50px 0;
}

.home {
    position: relative;
}

.home .texto-home {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.home .texto-home,
.home .img-home {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}

.home .img-home .img-box {
    max-width: 400px;
    margin: auto;
}

.home .img-home .img-box img {
    width: 100%;
}

.home .texto-home h1 {
    font-family: var(--fonte-titulo);
    font-size: var(--fonte-exg);
    font-weight: 400;
    margin-bottom: 12px;
    line-height: 100%;
}

.home .texto-home h2 {
    font-family: var(--fonte-titulo);
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 6px;
    margin-bottom: 30px;
}
 
@media(max-width: 1280px) {

    .home .texto-home,
    .home .img-home {
        flex: 0 0 1000%;
        max-width: 100%;
        text-align: center;
        padding: var(--mobile-padding);
    }
    
    .home .botoes {
        margin-top: 80px;
    }

    .home .img-home {
        order: 1;
        margin-bottom: 50px;
    }

    .home .texto-home {
        order: 2;
    }

    .home .img-home .img-box img {
        width: 70%;
    }
}

@media(max-width: 768px) {
    .home .texto-home h1 {
        font-size: 4rem;
    }

    .home:after {
        display: none;
    }
}

.home:after {
    content: url('/src/imagens/seta-branca.png');
    position: absolute;
    height: 35px;
    right: 50%;
    bottom: 80px;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

@keyframes downarrow {
    0% {-webkit-transform: translateY(0); opacity: 0.4;}
    100% {-webkit-transform: translateY(0.7em); opacity: 0.9;}
}
