/* SOBRE */

.sobre .imagem-sobre {
    max-width: 40%;
    padding: 0 15px;
}

.sobre .imagem-sobre .img-box {
    padding: 15px;
    text-align: center;
}

.sobre .informacoes-sobre {
    max-width: 50%;
    padding: 0 25px;
    align-self: center;
}

.sobre .informacoes-sobre p {
    text-align: left;
}

.sobre .informacoes-sobre .botoes {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.sobre .informacoes-sobre .botoes a {
    margin-top: 40px;
}

.sobre .informacoes-sobre .botoes a i {
    margin-left: 8px;
}

.sobre .informacoes-sobre .botoes a:nth-child(1) {
    background-color: transparent;
    border: 2px solid var(--cor-branca);
    color: var(--cor-branca);
}

.sobre .informacoes-sobre p {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

@media(max-width: 1280px) {
    .sobre .row {
        justify-content: center;
    }

    .sobre .imagem-sobre {
        max-width: 100%;
        padding: 0 var(--mobile-padding);
        text-align: center;
    }

    .sobre .informacoes-sobre {
        padding: 0 var(--mobile-padding);
        text-align: center;
    }
}

@media(max-width: 768px) {
    .sobre .informacoes-sobre {
        max-width: 100%;
    }
}