:root {
    --cor-cta: #E86A47;
    --cor-primaria: #561329;    
    --cor-branca: #fff;
    --cor-fundo-escuro: #040203;    
    --cor-fundo-cinza-escuro: #282828;
    --cor-fundo-cinza-claro: #353535;    
    --degrade-fundo: linear-gradient(180deg, rgba(2,1,19,1) 0%, rgba(86,19,41,1) 20%);
  }
    
  :root {
    --fonte-texto: 'Open Sans', sans-serif;
    --fonte-titulo: 'Barlow', sans-serif;
    --fonte-exg: 5.6rem;
    --fonte-xg: 3rem;
    --fonte-g: 2.4rem;
    --fonte-m: 1.6rem;
  }
  
  :root {
    --mobile-padding: 30px;
  }